* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  color: #333;
  scroll-behavior: smooth;
}

:root {
  --color-primary: #A0522D;
  --color-secondary: #502917;
  --color-background: #F2EDD7;
}

body {
  background-color: var(--color-background);
}

section {
  margin: 50px 0;
}

@media (min-width: 768px) {
  section {
    margin: 100px 0;
  }
}

/* =================================================
 text styles
==================================================== */

h1, h2 {
  font-family: 'Pacifico', cursive;
  font-weight: lighter;
  color: #333;
  text-shadow: 2px 8px 6px rgba(0,0,0,0.2), 0px -5px 35px rgba(255,255,255,0.3);
}

h2 {
  font-size: 1.5rem;
  margin: 1rem 0 0;
  text-align: center;
}

h3 {
  text-align: center;
  color: #fff;
}

.title {
  padding: 0 .5rem;
  font-size: 1.5;
  color: var(--color-primary);
}

.title span {
  font-size: 1.5rem;
  font-family: serif;
  padding: .125rem .25rem 0 0;
  color: var(--color-primary);
}

.title__caption {
  margin: 0 1rem;
}

/* text media queries */

@media (min-width: 768px) {

  .title, .title span {
    font-size: 2.5rem;
  }

  .title__caption {
    font-size: 1.5rem;
  }

  .sub-heading {
    font-size: 1.5rem;
  }
}

/* =================================================
 background images
==================================================== */

.image-menu {
  background-image: url(images/menu-mobile.webp);
}

.image-promo {
  background-image: url(images/promo-mobile.webp);
}

@media (min-width: 1024px) {
  .image-menu {
    background-image: url(images/menu-desktop.webp);
  }

  .image-promo {
    background-image: url(images/promo-desktop.webp);
  }
}

/* =================================================
 header
==================================================== */

header {
  background-color: var(--color-primary);
}

.header-banner {
  width: 100%;
  max-width: 1200px;
  height: 50vw;
  max-height: 600px;
  margin: auto;
  background-image: url(images/ech-banner.webp);
  background-repeat: no-repeat;
	background-size: contain;
	display: grid;
	place-content: center;
  position: relative;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
}

/* =================================================
 navigation
==================================================== */

nav {
  background-color: var(--color-primary);
}

.nav-content {
  display: flex;
  justify-content: space-between;
  padding: .5rem;
  max-width: 1200px;
  margin: auto;
}

.nav-links {
  display: none;
}

.nav-book {
  color: #fff;
  padding: .25rem 1.5rem;
  border-radius: 1rem;
  background-color: #4C43CD;
  background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%), radial-gradient(66% 87% at 26% 20%, rgba(255, 255, 255, 0.41) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 2px 19px 31px rgba(0, 0, 0, 0.2);
  font-weight: 600;
  border: 2px solid white;
  cursor: pointer;
  transition: .4s linear;
}

.nav-book:hover {
  background-color: #fff;
  color: #4C43CD;
}

.button-container {
  display: flex;
  justify-content: center;
}

.dropdown-button {
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.dropdown-button .material-icons {
  color: white;
  font-size: 40px;
  padding-bottom: .25rem;
}

.dropdown-links {
  display: none;
  position: fixed;
  z-index: 5;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.dropdown-links a {
  color: white;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.75rem;
}

.dropdown-links span {
  color: white;
  font-size: 2rem;
  position: fixed;
  font-weight: 600;
  top: 20px;
  right: 30px;
}

.show {
  display: grid;
  place-content: center;
  text-align: center;
}

/* navigation media queires */

@media (min-width: 768px) {

.nav-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-links * {
  color: white;
  margin-left: 2rem;
  font-size: 1.5rem;
}

.nav-book {
  font-size: 1.5rem;
}

.dropdown-button {
  display: none;
}
}

/* =================================================
 modal
==================================================== */

.modal {
  display: none;
  place-content: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal__content {
  background-color: var(--color-background);
  margin: 40% auto;
  padding: 1.5rem;
  border: 3px solid var(--color-primary);
  border-radius: 1rem;
  width: 80vw;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.modal__content b {
  max-width: 80%;
  margin: auto;
}

.modal__link {
  text-decoration: none;
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: var(--color-secondary);
  color: #fff;
  padding: .5rem;
  border-radius: 1rem;
  border: 2px solid var(--color-primary);
  margin: auto;
  max-width: 300px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  transition: .4s linear;
}

.modal__link i, .modal__link span {
  color: #fff;
}

.modal__link:hover {
  background-color: #fff;
}

.modal__link:hover i, .modal__link:hover span {
  color: #000;
}

.modal__close {
  font-size: 1.5rem;
  font-weight: 600;
  position: absolute;
  top: 20px;
  right: 30px;
  cursor: pointer;
  transition: .2s linear;
}

.modal__close:hover {
  color: crimson;
}

.modal__desktop {
  display: none;
}

@media (min-width: 768px){

  .modal__link {
    display: none;
  }

  .modal__desktop {
    display: block;
  }
}


/* =================================================
 main
==================================================== */

main {
  max-width: 1600px;
  margin: auto;
  text-align: center;
}

.underline {
  width: 4rem;
  height: .25rem;
  margin: 1rem auto 0;
  background: var(--color-primary);
  box-shadow: 0 2.5px 7.5px rgba(0, 0, 0, .5);
}

.container {
  padding: 1.5rem 1rem;
}

.container__content {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.container__image {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  margin: 1rem auto;
  height: 400px;
  position: relative;
  filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
}

.container__link {
  background-color: var(--color-secondary);
  color: #fff;
  padding: .5rem;
  border-radius: 1rem;
  border: 2px solid var(--color-primary);
  width: 200px;
  margin: auto;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  transition: .4s linear;

}

.container__link:hover  {
  background-color: #fff;
  color: var(--color-secondary);
}

/* services container */

.services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 1.5rem 1rem;
}

.services__image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
}

.services__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

/* location containers */

.location {
  padding: 1rem;
}

.location__flex {
  padding: 1rem;
}

.location__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
  max-width: 400px;
  margin: auto;
}

.location__item i {
  color: var(--color-secondary);
  font-size: 2rem;
}

.location__item a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  width: 100%;
}

.location__item--desktop {
  display: none;
}

.location__link {
  display: flex;
  align-items: center;
  margin: auto;
  padding: .25rem 1rem;
  width: 250px;
  border-radius: 1rem;
  border: 2px solid var(--color-primary);
  background-color: var(--color-secondary);
  box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  transition: .4s linear;
}

.location__link:hover  {
  background-color: #fff;
}

.location__link i, .location__link span {
  color: #fff;
}

.location__link:hover i, .location__link:hover span {
  color: var(--color-secondary);
}

.-fb-desktop {
  display: none;
}

.fb-page {
  box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
}

/* main content media queries */
@media (min-width: 768px) {

  .booking-btn {
      font-size: 1.5rem;
  }

  .container {
    display: flex;
    justify-content: center;
  }

  .container__content {
    padding: 0 2rem;
    margin: 0 1rem;
    max-width: 40vw;
  }

  .container__image {
    width: 40vw;
    margin: 0 1rem;
  }

  .services {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .services__item {
    width: 25%;
  }

  .location {
    display: flex;
    justify-content: space-around;
  }

  .location__item--desktop {
    display: flex;
  }

  .location__item--mobile {
    display: none;
  }

  .location__flex {
    flex: 1 1 50%;
  }

  .location__item i {
    font-size: 3rem;
  }
}

@media (min-width: 1024px) {

  .-fb-mobile {
    display: none;
  }

  .-fb-desktop {
    display: block;
  }
}

/* =================================================
 footer
==================================================== */

footer {
  min-height: 200px;
  background-color: var(--color-primary);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 50px;
  background: -moz-linear-gradient(top, #A0522D 0%, #502917 100%);
  background: -webkit-linear-gradient(top, #A0522D 0%, #502917 100%);
  background: linear-gradient(to bottom, #A0522D 0%, #502917 100%);
}

.social-icons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

footer p {
  font-size: .75rem;
  margin-bottom: 0;
  color: white;
}

footer em {
  color: white;
}

footer span {
  font-size: 1.5rem;
  color: #fff;
}

footer a img {
  transition: .2s linear;
}

footer a img:hover {
  transform: scale(1.1);
}

.footer-icon {
  display: flex;
  flex-direction: column;
  color: #fff;
  text-decoration: none;
}

.attribution, .attribution a {
  font-size: .75rem;
  color: white;
  margin: 2rem 0 1rem;
}

@media (min-width: 768px) {

  footer a img {
      width: 72px;
      height: 72px;
  }
}
