@import url('https://fonts.googleapis.com/css2?family=Gelasio&family=Pacifico&family=Poppins&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  color: #333;
  scroll-behavior: smooth;
}

.wrapper {
  max-width: 1600px;
  margin: auto;
}

:root {
  --color-primary: #A0522D;
}

/* =================================================
 text styles
==================================================== */

h1, h3 {
  font-family: 'Pacifico', cursive;
  font-weight: lighter;
  color: #333;
}

h1 {
  font-size: 0;
}

h2 {
  font-family: 'Pacifico', cursive;
  font-weight: lighter;
  color: white;
}

h3 {
  font-size: 1.5rem;
  margin: 1rem 0 0;
}

.title-mobile {
  font-size: 1rem;
  color: white;
}

.title-mobile span {
  font-family: 'Gelasio', serif;
  font-weight: lighter;
  color: white;
}

.title-desktop {
  display: none;
  font-size: 1.5rem;
  color: white;
}

.title-desktop span {
  font-size: 1.5rem;
  font-family: 'Gelasio', serif;
  font-weight: lighter;
  padding: .125rem .25rem 0 0;
  color: white;
}

.sub-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  padding: .5rem;
}

.sub-heading .material-icons {
  color: var(--color-primary)
}

.underline {
  width: 4rem;
  height: .25rem;
  margin: 1.25rem auto 0;
  background: var(--color-primary);
}

/* text media queries */

@media (min-width: 768px) {
  .title-mobile {
    display: none;
  }

  .title-desktop {
    display: flex;
  }

  .sub-heading {
    font-size: 1.5rem;
  }
}

/* =================================================
 add on classes
==================================================== */

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.bg-image-top {
  background-position: center top;
}

.bg-image-center {
  background-position: center center;
}

.bg-image-bottom {
  background-position: center bottom;
}

.margin-top {
  margin-top: 1.5rem;
}

/* =================================================
 header
==================================================== */

header {
  width: 100%;
  height: 50vw;
  max-height: 800px;
  background-image: url(images/ech-banner.jpg);
}

/* =================================================
 navigation
==================================================== */

nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: var(--color-primary)
}

.nav-links {
  display: none;
}

.button-container {
  display: flex;
  justify-content: center;
}

.dropdown-button {
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.dropdown-button .material-icons {
  color: white;
  font-size: 40px;
  padding-bottom: .25rem;
}

.dropdown-links {
  display: none;
  position: fixed;
  z-index: 5;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.dropdown-links a {
  color: white;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.75rem;
}

.show {
  display: grid;
  place-content: center;
  text-align: center;
}

@media (min-width: 768px) {

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links a {
  color: white;
  margin: 0 1.25rem;
}

.dropdown-button {
  display: none;
}
}

@media (min-width: 1024px) {
  .nav-links a {
    margin: 0 2.5rem;
    font-size: 1.5rem;
  }
}

/* =================================================
 containers
==================================================== */

.container-bgImage {
	background-repeat: no-repeat;
	background-size: cover;
	display: grid;
	place-content: center;
  position: relative;
}

.container-bgImage--about {
  height: 400px;
  margin: 2rem 0;
}

.container-bgImage__text {
  background-color:rgba(255,255,255,0.8);
  padding: 2rem;
}

.container {
  padding: 1.5rem 0;
}

.container__box {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding: 1rem
}

.container__image {
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  width: 100vw;
  position: relative;
}

.alt-row {
  background-color: var(--color-primary);
  color: white;
}

.container3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 1.5rem 1rem;
}

.container3__image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.container3__item .material-icons {
  color: var(--color-primary);
  font-size: 60px;
}

.container3__item--alt .material-icons {
  color: white;
  font-size: 60px;
}

.attribution--container {
  font-size: .5rem;
  text-align: center;
  transform: translateY(-2rem);
}

.attribution--container a {
  font-size: .5rem;
}

@media (min-width: 768px) {
  .container {
    display: flex;
    justify-content: center;
    padding: 3rem 0;
  }

  .container__box {
    padding: 0 2rem;
    max-width: 40vw;
    margin: 0 1rem;
  }

  .container__image {
    max-width: 40vw;
    margin: 0 1rem;
  }

  .container-bgImage__text {
    max-width: 80vw;
  }

  .container3 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .container3__item, .container3__item--alt {
    width: 25%;
  }

  .attribution--container {
    transform: translateY(-3rem);
  }

}

/* =================================================
 images
==================================================== */

.bg-image-1 {
  background-image: url(images/lobster.jpeg);
}

.bg-image-2 {
  background-image: url(images/curry.jpeg);
}

.bg-image-4 {
  background-image: url(images/breakfast.jpeg);
}

.svg-fb {
  max-height: 50px;
}

/* =================================================
 footer
==================================================== */

footer {
  min-height: 300px;
  background-color: var(--color-primary);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 1rem;
}

.social-icons {
  display: flex;
  justify-content: center;
}

.fa {
  padding: 20px;
  margin: 0 .25rem;
  font-size: 30px;
  width: 60px;
  height: 60px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  transform: scale(.75);
  background-color: white;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  color: var(--color-primary);
}

.fa-instagram {
  color: var(--color-primary);
}

.fa-envelope {
  color: var(--color-primary);
}

.fa-phone {
  color: var(--color-primary);
}

footer p {
  margin-bottom: 0;
  font-size: .75rem;
  color: white;
}

footer em {
  color: white;
}

.attribution--footer {
  font-size: .75rem;
  color: white;
}

.attribution--footer:visited {
  color: white;
}
