@import url('https://fonts.googleapis.com/css2?family=Gelasio&family=Pacifico&family=Poppins&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  color: #333;
  scroll-behavior: smooth;
}

:root {
  --color-primary: #A0522D;
}

/* =================================================
 text styles
==================================================== */

h1, h2 {
  font-family: 'Pacifico', cursive;
  font-weight: lighter;
  color: #333;
}

h2 {
  font-size: 1.5rem;
  margin: 1rem 0 0;
  text-align: center;
  text-shadow: 2px 8px 6px rgba(0,0,0,0.2), 0px -5px 35px rgba(255,255,255,0.3);
}

h3 {
  text-align: center;
}

.title-mobile {
  font-size: 1rem;
  color: white;
}

.title-mobile span {
  font-family: 'Gelasio', serif;
  font-weight: lighter;
  color: white;
}

.title-desktop {
  display: none;
  font-size: 1.5rem;
  color: white;
}

.title-desktop span {
  font-size: 1.5rem;
  font-family: 'Gelasio', serif;
  font-weight: lighter;
  padding: .125rem .25rem 0 0;
  color: white;
}

/* text media queries */

@media (min-width: 768px) {
  .title-mobile {
    display: none;
  }

  .title-desktop {
    display: flex;
  }

  .sub-heading {
    font-size: 1.5rem;
  }
}

/* =================================================
 images
==================================================== */

.image-menu {
  background-image: url(images/menu-collage-mobile.jpg);
}

.image-promo {
  background-image: url(images/lobster.jpeg);
}

@media (min-width: 768px) {
  .image-menu {
    background-image: url(images/menu-collage.jpg);
  }
}

/* =================================================
 header
==================================================== */

header {
  background-color: var(--color-primary);
}

.header-banner {
  width: 100%;
  max-width: 1600px;
  height: 50vw;
  max-height: 800px;
  margin: auto;
  background-image: url(images/ech-banner.jpg);
  background-repeat: no-repeat;
	background-size: contain;
	display: grid;
	place-content: center;
  position: relative;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
}

/* =================================================
 navigation
==================================================== */

nav {
  background-color: var(--color-primary)
}

.nav-content {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  max-width: 1600px;
  margin: auto;
}

.nav-links {
  display: none;
}

.button-container {
  display: flex;
  justify-content: center;
}

.dropdown-button {
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.dropdown-button .material-icons {
  color: white;
  font-size: 40px;
  padding-bottom: .25rem;
}

.dropdown-links {
  display: none;
  position: fixed;
  z-index: 5;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.dropdown-links a {
  color: white;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.75rem;
}

.show {
  display: grid;
  place-content: center;
  text-align: center;
}

/* navigation media queires */

@media (min-width: 768px) {

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links a {
  color: white;
  margin: 0 1.25rem;
}

.dropdown-button {
  display: none;
}
}

@media (min-width: 1024px) {
  .nav-links a {
    margin: 0 2.5rem;
    font-size: 1.5rem;
  }
}

/* =================================================
 main
==================================================== */

main {
  max-width: 1600px;
  margin: auto;
  text-align: center;
}

.booking-btn {
  color: #fff;
  padding: 1rem 1.5rem;
  margin: 2rem;
  border-radius: 100px;
  background-color: #4C43CD;
  background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%), radial-gradient(66% 87% at 26% 20%, rgba(255, 255, 255, 0.41) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 2px 19px 31px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  border: 2px solid #4C43CD;
  cursor: pointer;
  transition: .4s linear;
}

.booking-btn:hover {
  background-color: #fff;
  color: #4C43CD;
}

.underline {
  width: 4rem;
  height: .25rem;
  margin: 1rem auto 0;
  background: var(--color-primary);
  box-shadow: 0 2.5px 7.5px rgba(0, 0, 0, .5);
}

.container {
  padding: 1.5rem 0;
}

.container__content {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.container__image {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  margin-top: 1rem;
  height: 400px;
  width: 100vw;
  position: relative;
  filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
}

.container__link {
  background-color: var(--color-primary);
  color: #fff;
  padding: .5rem;
  border-radius: 1rem;
  border: 2px solid var(--color-primary);
  width: 200px;
  margin: auto;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  transition: .4s linear;

}

.container__link:hover  {
  background-color: #fff;
  color: var(--color-primary);

}

/* services container */

.services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 1.5rem 1rem;
}

.services__image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
}

.services__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

/* location containers */

.location {
  padding: 1rem;
}

.location__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
  max-width: 600px;
  margin: auto;
}

.location__item i {
  color: var(--color-primary);
  font-size: 2rem;
}

.location__item a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  width: 100%;
}

.location__link {
  display: flex;
  align-items: center;
  margin: auto;
  padding: .25rem 1rem;
  border-radius: 1rem;
  border: 2px solid var(--color-primary);
  background-color: var(--color-primary);
  box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  transition: .4s linear;
}

.location__link:hover  {
  background-color: #fff;

}

.location__link i, .location__link span {
  color: #fff;

}

.location__link:hover i, .location__link:hover span {

  color: var(--color-primary);
}

.fb-page {
  box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
}


/* main content media queries */
@media (min-width: 768px) {

  .booking-btn {
      font-size: 1.5rem;
  }

  .container {
    display: flex;
    justify-content: center;
  }

  .container__content {
    padding: 0 2rem;
    margin: 0 1rem;
    max-width: 40vw;
  }

  .container__image {
    max-width: 40vw;
    margin: 0 1rem;
  }

  .services {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .services__item {
    width: 25%;
  }

  .location {
    display: flex;
    justify-content: space-around;
  }

  .location__item i {
    font-size: 3rem;
  }

}

/* =================================================
 footer
==================================================== */

footer {
  min-height: 200px;
  background-color: var(--color-primary);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 1rem;


  background: -moz-linear-gradient(top, #A0522D 0%, #804224 100%);
  background: -webkit-linear-gradient(top, #A0522D 0%, #804224 100%);
  background: linear-gradient(to bottom, #A0522D 0%, #804224 100%);
}

.social-icons {
  display: flex;
  justify-content: center;
}

.fa {
  padding: 20px;
  margin: 0 .25rem;
  font-size: 30px;
  width: 60px;
  height: 60px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  transform: scale(.75);
  background-color: white;
  color: var(--color-primary);
}

.fa:hover {
    opacity: 0.7;
}

footer p {
  margin-bottom: 0;
  font-size: .75rem;
  color: white;
}

footer em {
  color: white;
}

.attribution--footer {
  font-size: .75rem;
  color: white;
}
